<% @items.each do |item| %>
  <div class="items">
    <ul>
    <!-- <%= image_tag item.pic_url %> -->
    <br><%= link_to item.name, item_path(item) %>
    <br>Price $<%= item.price %>
    <ul>
  </div>
<% end %>
