/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html{
  margin: 0px;
  height: 100%;
}

.items, .item{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 200px;
  width: 200px;
}

.style_image{
  max-width: 100%;
  max-height: 100%;
}

.header{
  display: flex;
  flex-direction: row;
  background-color: orange;
  width: 100%;
}

.header h2{
  margin-left: 3vw;
  color: black;
}

.header a{
  color: blue;
}

.header a:hover{
  color: white;
}

.alert{
  color: red;
}

.notice{
  color: blue;
}

.buttons{
  margin-left: 20vw;
  display: inline-block;
}

/*for styling add to cart button*/
.button1{
  background-color: #f4511e;;
  color: white;
  font-size: 16px;
  height: 60px;
  width: 150px;
  border: 1px;
  text-decoration: none;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
/*end of styling for add to cart button*/

.button2{
  background-color: black;
  font-size: 16px;
  height: 60px;
  width: 150px;
  border: 1px;
  text-decoration: none;
}

.button1 a, .button2 a{
  color: white;
}

.button2 :visited{
  color: white;
}

.signup a{
  margin-bottom: 0;
}

.item{
  margin-left: 20vw;
}

.cart{
  display: inline-flex;
  flex-direction: row;
}

.remove{
  display: inline-block;
}

footer{
  background-color: black;
  color: white;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
